.map-legend {
  .gmap {
    height: 850px;
  }
  &__filter {
    text-align: center;
    margin: 37px 0 30px 0;
    &__top {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 -20px;
      [data-filter] {
        font-size: 13px;
        text-transform: uppercase;
        margin: 0 7px;
        cursor: pointer;
        @include breakpoint(monitor) {
          margin: 0 10px 10px 10px;
        }
        @include breakpoint(mobile) {
          width: 50%;
          margin: 0 0 10px 0;
          justify-content: center;
        }
        img {
          margin: 0 15px;
          max-width: 42px;
          width: 100%;
          display: block;
          max-height: 37px;

          @include breakpoint(laptop) {
            margin: 0 5px;
          }
        }
        &.visible {
          color: $blue;
        }
      }
    }
    &__bottom {
      text-align: right;
      margin-top: 30px;
      > div {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        font-size: 14px;
        margin-left: 30px;
        .fa {
          color: $blue;
          margin-right: 10px;
        }
        &:hover {
          color: $blue;
        }
      }
    }
    [data-filter] {
      vertical-align: middle;
      display: flex;
      align-items: center;
    }
  }
  .si-float-wrapper {
    animation: animate_popup 0.3s forwards;
    .si-content-wrapper {
      background: rgba(0,0,0,0.6);
      border: none;
      padding: 20px 10px;
      width: 190px;
      text-align: center;
      color: #FFF;
      border-radius: 0;
    }
    .si-pointer-border-top,
    .si-shadow-inner-pointer-top {
      background: none !important;
      border-color: transparent !important;
    }
    //.si-shadow-inner-pointer-top,
    //.si-pointer-border-top {
    //  display: none;
    //}
    .si-shadow-frame {
      box-shadow: none;
    }
    .si-has-border .si-pointer-bg-top {
      border-top-color: rgba(0,0,0,0.6);
    }
  }
  @keyframes animate_popup {
    0% {
      margin-top: -40px;
      opacity: 0;
    }
    100% {
      opacity: 1;
      margin-top: -30px;
    }
  }
}